* {
  margin: 0;
  padding: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

body {
  /*background: #fff;*/
}

.container {
  width: 100%;
}

.container > .banner-head {
  margin: .3rem;
  border-radius: .3rem;
  overflow: hidden;
  box-sizing: border-box;
}

/*.content {*/
  /*background: url(http://novel.jtjsmp.top/images/website/b0aa08eae53c92ca6cd63b89ef042180.jpg);*/
  /*background-size: 100% 100%;*/
/*}*/

.head-line {
  width: 100%;
  position: relative;
}

.head-line .head-wrapper-new {
  display: flex;
  height: .8rem;
}

.head-line .head-wrapper-new h2 {
  line-height: 0.6rem;
}

.head-line .head-wrapper-new .head-left-decorate, .head-line .head-wrapper-new .head-right-decorate {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.head-line .head-text {
  max-width: 90%;
}

.head-line .head-wrapper-new .head-text {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}


.content > .chapter {
  padding: 0 .2rem;
}

.head-line .head-text a.text-ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  font-size: .6rem;
}

.head-line .head-wrapper-new .head-left-decorate .head-decorate-line, .head-line .head-wrapper-new .head-right-decorate .head-decorate-line {
  position: absolute;
  top: 50%;
  left: 0.267rem;
  right: 0.267rem;
  height: 0.053rem;
  margin-top: -0.027rem;
}

.head-line .head-wrapper-new .head-left-decorate .head-decorate-line, .head-line .head-wrapper-new .head-left-decorate .head-decorate-border {
  left: 0;
}

.head-line .head-wrapper-new .head-right-decorate .head-decorate-line, .head-line .head-wrapper-new .head-right-decorate .head-decorate-border {
  right: 0;
}

.content > .chapter p span {
  display: inline-block;
  line-height: 2;
}

.brick-wrapper p {
  text-indent: 0;
  margin: 0;
  line-height: 2;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}

.attention {
  background-color: rgb(238, 238, 238);
  color: #000;
  padding: 0.2rem 0.4rem;
  overflow: hidden;
  font-size: 18px;
  margin-top: .5rem;
}

.inner1 p {
  margin-top: 10px;
}

.inner1 p strong {
  font-weight: 700;
}



.wechat-id {
  float: left;
  line-height: .8rem;
  margin-left: .2rem;
  width: 58%;
  overflow: hidden;
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
  white-space: nowrap;
}

.wechat-btn {
  cursor: pointer;
  width: 2rem;
  height: .8rem;
  border-radius: .4rem;
  color: #fff;
  line-height: .8rem;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  font-family: PingFangSC-Regular;
  letter-spacing: 0;
  float: right;
  -webkit-touch-callout: none;

  background-color: #f85959;
}

#foo {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.step-wrapper {
  font-size: 18px;
  line-height: 1.5;
  padding: .3rem .5rem;
}

.company {
  font-size: 14px;
  color: rgb(153, 153, 153);
  text-align: center;
  line-height: 1.5;
  padding: .2rem 0;
}

.popup-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  content: '';
  z-index: 99;
  background-color: rgba(51,51,51,0.5);
}

.popup-wrap .popup-box {
  width: 90%;
  background: #fff;
  position: absolute;
  -webkit-transform: translate(-50%, -80%);
  transform: translate(-50%, -80%);
  top: 50%;
  left: 50%;
  font-size: 0.32rem;
  text-align: center;
  border-radius: 0.1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.popup-wrap .popup-box .title {
  font-size: .3rem;
  margin-top: 1rem;
  width: 100%;
  left: 0;
  text-align: center;
  vertical-align: middle;
}

.popup-wrap .popup-box .title1 {
  margin-top: .3rem;
}

.popup-wrap .popup-box .title .success-icon {
  width: 1rem;
  height: 1rem;
  background: url(https://p6.pstatp.com/origin/404e0000669dcd274d73) no-repeat center;
  background-size: contain;
  display: block;
  margin: 0 auto 0.1rem;
  vertical-align: middle;
  box-sizing: content-box;
}

.popup-wrap .popup-box .title .notice-title {
  font-family: PingFangSC-Medium;
  font-size: 0.7rem;
  font-weight: bolder;
  color: #222222;
}

.popup-wrap .popup-box .title .notice-title1 {
  height: .4rem;
  line-height: .4rem;
  font-family: PingFangSC-Medium;
  font-size: 0.5rem;
  margin: .3rem 0 .1rem;
  display: block;
  color: #222222;
  vertical-align: middle;
}

.popup-wrap .popup-box .content-tips {
  font-size: 0.8rem;
  padding: 0.2rem 0.3rem;
  width: 100%;
  left: 0;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  line-height: 1.5;
}

.popup-wrap .popup-box .content-tips1 {
  font-size: .5rem;
  color: rgba(0,0,0,.54);
  text-align: left;
  padding: 0.6rem 0.6rem .4rem;
  display: block;
  text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.popup-wrap .btn {
  display: inline-block;
  margin-bottom: 0;
  font-size: 0.373rem;
  font-weight: 400;
  line-height: .8rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 0.027rem solid transparent;
  border-radius: 0.107rem;
}

.popup-wrap .popup-box .popup-cancle {
  width: 3.3rem;
  height: 1rem;
  border-radius: 2.667rem;
  font-size: 0.5rem;
  line-height: 1rem;
  color: #999999;
  margin: 0.267rem 0.427rem 0.293rem 0;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  border: 0;
}

.popup-wrap .popup-box .popup-close {
  width: 5rem;
  height: 1rem;
  display: inline-block;
  border-radius: 2.667rem;
  line-height: 1rem;
  font-size: 0.6rem;
  color: #fff;
  margin: 0.267rem auto 0.5rem;
  padding: 0;
  background: #f54343;
}

.popup-wrap .popup-box .popup-close1 {
  width: 3.3rem;
  height: 1rem;
  display: inline-block;
  border-radius: 2.667rem;
  line-height: 1rem;
  font-size: 0.5rem;
  background: #4caf50;
  color: #fff;
  margin: 0.267rem auto 0.293rem;
  padding: 0;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.chapter .rich-text p {
  font-size: 20px;
}
